name: Run project
on:
  pull_request:
    branches:
      - main
jobs:
  Run-App:
    runs-on: ubuntu-latest
    env:
      DISPLAY: :99

    steps:
      - uses: TrackerSB/Green3Neo-Prepare-Action@main
      - uses: ./.github/actions/prepare-application-run
        with:
          virtual_display_number: ${{ env.DISPLAY }}
      - name: Execute application
        run: just run
