name: Run project
on:
  pull_request:
    branches:
      - main
jobs:
  Run-App:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      DISPLAY: :99

    steps:
      - uses: TrackerSB/Green3Neo-Prepare-Action@main
      - uses: ./.github/actions/prepare-application-run
        with:
          virtual_display_number: ${{ env.DISPLAY }}
      - name: Execute application in the background
        run: |
          just run &
          APP_PID=$!
          echo "APP_PID=$APP_PID" >> $GITHUB_ENV
          echo "Application started with PID $APP_PID"
      - name: Install x11-utils for xwininfo
        run: sudo apt-get install -y x11-utils
      - name: Wait for GTK window
        run: |
          window_title="green3neo"
          timeout=30 # Maximum waiting time in seconds
          interval=1 # Check frequency in seconds
          elapsed=0 # Elapsed time in seconds
          xwininfo -root -tree # Debug: List current windows
          while ! xwininfo -root -tree | grep -q "$window_title"; do
            if [ $elapsed -ge $timeout ]; then
              echo "GTK window with title $window_title did not appear within $timeout seconds"
              exit 1
            fi
            sleep $interval
            elapsed=$((elapsed + interval))
          done
      - name: Stop application
        if: always()
        run: |
          kill $APP_PID || true # Ignore errors from kill
          wait $APP_PID || true # Ignore errors from wait
