name: Run project
on:
  pull_request:
    branches:
      - main
jobs:
  Run-App:
    runs-on: ubuntu-latest
    steps:
      - uses: TrackerSB/Green3Neo-Prepare-Action@main
      - uses: ./.github/actions/prepare-application-build
      - name: Execute application
        run: just run
