name: Run project
on:
  pull_request:
    branches:
      - main
jobs:
  Run-App:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      DISPLAY: :99

    steps:
      - uses: TrackerSB/Green3Neo-Prepare-Action@main
      - uses: ./.github/actions/prepare-application-run
        with:
          virtual_display_number: ${{ env.DISPLAY }}
      - name: Execute application in the background
        run: |
          just run &
          APP_PID=$!
          echo "APP_PID=$APP_PID" >> $GITHUB_ENV
          sleep 10  # Wait for the application to start
      - name: Check whether application started
        run: |
          if ! ps -p $APP_PID > /dev/null; then
            exit 1
          fi
      - name: Stop application
        if: always()
        run: |
          kill $APP_PID || true # Ignore errors from kill
          wait $APP_PID || true # Ignore errors from wait
