name: Test project
on:
  pull_request:
    branches:
      - main
jobs:
  Test-All:
    runs-on: ubuntu-latest
    steps:
      - uses: TrackerSB/Green3Neo-Prepare-Action@main
      - uses: ./.github/actions/prepare-frontend-build
      - name: Execute tests
        run: just test
